// http://www.yodnsconf.com
[
  {
    "id": 1,
    "condition": "HTTP_HOST",
    "pattern": "example.net",
    "response": "http://www.example.com/"
  },
  {
    "id": 2,
    "condition":
    {
      "test": "HTTP_HOST",
      "pattern": "example.org"
    },
    "rule":
    {
      "response": "http://www.example.net/"
    }
  },
  {
    "example.us":
    [
      {
        "conditions":
        [
          {
            "user_agent": "^Mozilla*"
          }
        ],
        "rule":
        [
          "^/somestring",
          "http://www.example.com/anotherurl",
          "R=301"
        ]
      },
      {
        "rule":
        [
          "^/anotherstring",
          "http://www.example.com/anotherurl",
          "R=301"
        ]
      }
    ]
  }
]