<config>
    <defaults>
        <ttl>86400</ttl>
        <ns>ns.example.com.</ns>
        <mbox>email.example.com.</mbox>
        <refresh>28800</refresh>
        <retry>7200</retry>
        <expire>604800</expire>
        <minimum>14400</minimum>
        <active>Y</active>
        <ns_filter>%</ns_filter>
    </defaults>
</config>