<config>
    <defaults>
        <ttl>86400</ttl>
        <ns>ns.example.com.</ns>
        <mbox>email.example.com.</mbox>
        <refresh>28800</refresh>
        <retry>7200</retry>
        <expire>604800</expire>
        <minimum>14400</minimum>
        <active>Y</active>
        <ns_filter>%</ns_filter>
    </defaults>
    <extensions>
        <dev_buffer>
            <placement>prepend</placement>
            <source>&includepath;extensions/dev_buffer/dev_buffer.php</source>
            <sitemap>&includepath;extensions/dev_buffer/sitemap.xml</sitemap>
            <excludes>themed-css,dynamic-css,xml-sitemap,license,readme,license</excludes>
        </dev_buffer>
        <nexista_auth>
            <placement>prepend</placement>
            <source>&includepath;extensions/nexista_auth.php</source>
            <login>auth.php?nid=login</login>
        </nexista_auth>
    </extensions>
</config>