.block
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Record
    .inner
      = form_for @record, :url => zone_record_path(@zone, @record), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
