body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
	font-size : 12px; 
}

img {
    border: 0;
}
textarea,input.text,select,option{
	color:#000;
	font-family:CourierNew,Courier,monospace;
	background-color:#FCFCFC;
	font-size:14px;
	border: 1 solid ##BFCBD9;
	position: relative;
}
.button {
	border-color : #666699;
	border-width : 1px; 
    color: #000; 
	background-color : #FFF; 
}



#main-menu {
	font-size: 11px;
}
#main-menu a {
	padding: 4px 15px 3px 15px;
	background-color: #DEE4F2;
	border: 1px solid #C0CCDA;
    color: black;
    margin-left: 5px;
}

#main-menu a.sub {
	background-color: #FFF;
}

#main-menu select { 
    right: 5px; position: fixed; margin-top: -6px;
}



.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CC0000;
	text-decoration: none;

}
input {
	border: 1px solid #BFCBD9;
}
textarea {
	border: 1px solid #BFCBD9;
}

