<div class="greeting green transp">
  <h2 class="corners">Thanks for using YoDNSConf!</h2>
  <p>
  <h3>Statistics</h3>
  <dl>
    <dt><a href="zones">Zones</a></dt><dd><%= Zone.all.count %></dd>
    <dt>A Records</dt><dd>...</dd>
    <dt>CNAMEs</dt><dd>...</dd>
  </dl>
  </p>
</div>
